.action {
    font-family: 'Jetbrains Mono';
    background: linear-gradient(140deg, #00606c, #000000);
    background-size: 400% 400%;
    /* margin-bottom: 5px; */
    border-bottom: 2px solid #363941;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;

    /* width: calc(100%-20px); */
    padding: 10px;
    /* height: 30%; */

    /* height: 100px; */
    /* background-color: brown; */

    padding-bottom: 10px;
    /* display: flex; */
    color: white;
}


.action h1 {
    padding-top: 10Spx;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.action .repo {
    font-size: small;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@keyframes AnimationName {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}