.ActionContainer {
    top: calc(14vh + 10px);
    position: fixed;
    top: calc(14vh + 10px);
    left: 0;
    height: calc(100vh - 20vh + 20px);
    width: 10vw;
    display: flex;
    flex-direction: column;
    border-color: #363941;
    border-radius: 0px 9px 9px 0px;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    overflow: hidden;
    background: repeating-linear-gradient(to right, #1c1e24 0%, #292c33 50%, #1c1e24 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }