.mainContent {
    top: calc(14vh + 10px);
    position: fixed;
    left: calc(10vw + 10px);
    float: left;
    height: 80vh;
    width: calc(70vw - 10px);
    /* padding: 10px; */
    background-color: #27292f;
    color: aliceblue;
    border-color: #363941;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    font-family: "JetBrains Mono";
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.mainContent a {
    color: aqua;
}

.mainContent .back {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 0px 0px 10px;
    font-size: 13px;
}

.mainContent h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0px 0px 0px 10px;
}

.mainContent h1 {
    margin-right: 0px;
    padding-right: 0px;
    width: 20px;
    display: inline;
    padding-left: 10px;
}

.mainContent span {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 10px;
}

.mainContent p {
    padding: 10px 0px 0px 10px;
}

.mainContent img {
    width: 25%;
    float: left;
    display: inline;
    margin: 15px;
    border-color: #363941;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
}

.mainContent iframe {
    margin: 3px;
    border-color: #363941;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    width: calc(100% - 18px);
    height: 70vh;
}