.mainContent {
    top: calc(14vh + 10px);
    position: fixed;
    left: calc(10vw + 10px);
    float: left;
    height: calc(100vh - 20vh);
    width: calc(70vw - 10px);
    padding: 10px;
    background-color: #27292f;
    color: aliceblue;
    border-color: #363941;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    font-family: "JetBrains Mono";
    overflow: scroll;
}

.mainContent a {
    color: aqua;
}

.mainContent h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainContent h1 {
    margin-right: 0px;
    padding-right: 0px;
    width: 20px;
    display: inline;
}

.mainContent span {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}